   {% block style %}
<style>
   /* Green success button */
    .btn-success {
        background-color: #28a745;
        border-color: #28a745;
        color: white; /* Ensure text color is white */
    }

    .btn-success:hover {
        background-color: #218838;
        border-color: #1e7e34;
        transform: translateY(-1px);
    }    
</style>
   {% endblock %}

    
    
    {% extends "layout.html" %}

    {% block title %}
        Account
    {% endblock %}

    {% block username %}
        <div class="fs-6 fw-bold">Hi, {{username}}.</div>
    {% endblock %}

    {% block main %}
        <div class="mb-4 shadow rounded-4 p-5 mx-auto" style="background-color: #f7f7f5 !important; max-width: 400px; width: 100%;">
            
            <form action="/change_username" method="POST">
                <div class="mb-2">
                    <div class="fs-4 fw-bold mb-3">
                        <label id="reset_label"> Change Username </label></div>

                    <div class="d-flex flex-row"><input autocomplete="off" required autofocus class="form-control" name="username" placeholder="{{ username }}" type="username"></div>
                </div>

                <div class="d-flex flex-row-reverse">
                    <button class="btn btn-primary btn-success" type="submit">Save</button>
                </div>
            </form>
        </div>
        
        <div class="shadow rounded-4 p-5 mx-auto" style="background-color: #f7f7f5 !important; max-width: 400px; width: 100%;">
            <form action="/reset_password" method="POST">
                <div class="mb-2">
                    <label class="fs-4 fw-bold mb-3" id="reset_label"> Reset Password </label>
                    
                    <div class="d-flex flex-column">
                            
                        <div class="mb-!"><input autocomplete="off" required autofocus class="form-control" name="current_password" placeholder="Current Password" type="password"></div>
                        <div class="form-check d-flex flex-row">
                            <input class="form-check-input" type="checkbox" id="showPassword" onclick="myFunction('current_password')">
                            <label class="form-check-label mb-3" style="margin-left:0.5rem;" for="showPassword">
                                Show Current Password
                            </label>
                        </div>

                        <div class="mb-1"><input autocomplete="off" required class="form-control" name="new_password" placeholder="New Password" type="password" id="new_password"></div>
                        <div class="form-check d-flex flex-row">
                            <input class="form-check-input" type="checkbox" id="showPassword" onclick="myFunction('new_password')">
                            <label class="form-check-label mb-3" style="margin-left:0.5rem;" for="showPassword">
                                Show New Password
                            </label>
                        </div>

                        <div><input autocomplete="off" required class="form-control" name="confirmation" placeholder="Retype new password" type="password"></div>

                        


                    </div>
                </div>
                
                <div class="d-flex flex-row-reverse">
                    <button class="btn btn-primary" type="submit">Reset</button>
                </div>
            </form>
        </div>


        <script>

            function myFunction(id) {
                var x = document.getElementById(id);
                if (x.type === "password") {
                    x.type = "text";
                } else {
                    x.type = "password";
                }
                } 
        </script>


    {% endblock %}
