{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block username %}
{% endblock %}

{% block main %}

<div id="bg" class="container d-flex justify-content-center align-items-center" style="min-height: 60vh;">
  <div class="bg-light shadow rounded-4 p-5 mx-auto" style="background-color: #f7f7f5 !important; max-width: 400px; width: 100%;">
    <form action="/login" method="post">
      <div class="mb-4 text-center">
        <label class="fs-4 fw-bold" id="lab">Log In</label>
      </div>
      <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
      </div>
      <div class="mb-4">
        <input class="form-control" name="password" placeholder="Password" type="password">
      </div>
      <div class="d-grid">
        <button class="btn btn-primary" type="submit">Log In</button>
      </div>
    </form>
  </div>
</div>


{% endblock %}