  {% extends "layout.html" %}

  {% block title %}
      Log In
  {% endblock %}

  {% block username %}
  {% endblock %}

  {% block main %}

    <div class="shadow rounded-4 p-5 mx-auto" style="background-color: #f7f7f5 !important; max-width: 400px; width: 100%;">
      <form action="/login" method="post">
        <div class="mb-4 text-center">
          <label class="fs-4 fw-bold" id="lab">Log In</label>
        </div>
        <div class="mb-3">
          <input autocomplete="off" autofocus class="form-control" name="username-or-email" placeholder="Username / E-Mail" type="text">
        </div>
        <div class="mb-4">
          <input class="form-control" name="password" placeholder="Password" type="password" id="password">

        <div class="form-check d-flex flex-row">
                    <input class="form-check-input" type="checkbox" id="showPassword" onclick="myFunction('password')">
                    <label class="form-check-label mb-3" style="margin-left:0.5rem;" for="showPassword">
                        Show Current Password
                    </label>

        </div>
        <div class="d-grid">
          <button class="btn btn-primary" type="submit">Log In</button>
        </div>
      </form>
    </div>


    <script>

        function myFunction(id) {
            var x = document.getElementById(id);
            if (x.type === "password") {
              console.log("func yes")
                x.type = "text";
            } else {
                x.type = "password";
            }
            } 
    </script>

  {% endblock %}